body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #111;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;

        pointer-events: none;
    }

    #border {
        border: 3px solid #FFFFFF;
        display: block;
        width: $banner-width - 6;
        height: $banner-height - 6;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #border2 {
        border: 1px solid #000000;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #footer {
        background: #FFFFFF;
        right: 0;
        bottom: 0;
        width: 100px;
        height: $banner-height;
        position: absolute;

        #logo {
            right: 22px;
            bottom: 15px;
            position: absolute;
        }
    }

    #curtain {
        background: #FFF;
        top: 0;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        position: absolute;
        pointer-events: none;
        z-index: 500;
    }

    #txt1 {
        top: 0;
        left: 0;
        position: absolute;

    }

    #cta {
        cursor: pointer;
        background: #00b1eb;
        border-radius: 5px;
        width:127px;
        height:36px;
        left: 50px;
        top: 163px;
        //opacity: 0;
        position: absolute;
        z-index: 1001;

        #cta_txt {
            left: 0;
            top: 0;
            position: absolute;
        }
    }

}
