body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #111;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #expand-button {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    #border {
        border: 3px solid #FFFFFF;
        display: block;
        width: $banner-width - 6;
        height: $banner-height - 6;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #border2 {
        border: 1px solid #000000;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1500;
    }

    #footer {
        background: #FFFFFF;
        right: 0;
        bottom: 0;
        width: 100px;
        height: $banner-height;
        position: absolute;

        #logo {
            right: 22px;
            bottom: 15px;
            position: absolute;
        }

        #learnMore {
            right: 10px;
            top: 15px;
            opacity:0;
            clip: rect(0px, 71px, 13px, 0px);
            position: absolute;
        }

        #learnMoreArrow {
            right: 10px;
            top: 15px;
            opacity:0;
            clip: rect(0px, 80px, 13px, 71px);
            position: absolute;
        }
    }

    #curtain {
        background: #FFF;
        top: 0;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        position: absolute;
        pointer-events: none;
        z-index: 500;
    }

    #txt1 {
        top: 50px;
        left: 50px;
        opacity:0;
        position: absolute;
    }

    #txt2 {
        top: 50px;
        left: 50px;
        opacity:0;
        position: absolute;
    }

    #hero {
        top: 0;
        left: 0;
        transform: scale(1.1) translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #hero2 {
        top: 0;
        left: 35px;
        position: absolute;
    }

    #vignette {
        left: -500px;
        top: 0;
        width: $banner-width;
        height: $banner-height;
        background: linear-gradient(110deg, rgba(0,0,0,.75) 0%,rgba(0,0,0,.5) 30%,rgba(0,0,0,0) 45%);
        opacity: 0;
        position: absolute;
    }

    #cta {
        cursor: pointer;
        background: #00b1eb;
        border-radius: 5px;
        width:134px;
        height:38px;
        left: 50px;
        bottom: 50px;
        opacity: 0;
        position: absolute;
        z-index: 1001;

        #cta_txt {
            left: 0;
            top: -3px;
            clip: rect(0px, 92px, 44px, 0px);
            position: absolute;
        }
        #cta_arrow {
            left: 0;
            top: -3px;
            clip: rect(0px, 134px, 44px, 92px);
            position: absolute;
        }
    }

}
